.page__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.title {
    color: $color-secondary;
    font-size: 30px;
    margin: 10px;
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.input {
    font-family: $font-main;
}

.btn {
    &-search {
        background-color: $color-secondary;
        color: $color-bg;
        font-family: $font-main;
        margin: 10px;
    }
    &-reset {
        background-color: $color-secondary;
        color: $color-bg;
        font-family: $font-main;
    }
}

.container {
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.favs {
    margin: 10px;
}

.fav {
    margin: 10px;
    &-title {
        color: $color-secondary;
        font-size: 20px;
        @media all and (min-width: 768px) {
            font-size: 30px;
        }
    }
}

.lists {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list {
    //&-show {}
    &-title {
        color: $color-secondary;
        font-size: 20px;
        @media all and (min-width: 768px) {
            font-size: 30px;
        }
    }
}

.result {
    margin: 10px;
    max-width: 20em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.showName {
    color: $color-secondary;
    font-size: 15px;
    @media all and (min-width: 768px) {
        font-size: 20px;
    }
}

.img {
    width: 30px;
    height: 30px;
    @media all and (min-width: 768px) {
        width: 200px;
        height: 200px;
    }
}

.favorite {
    background-color: $color-secondary;
    max-width: 20em;
}

.favorite .showName {
    color: white;
}

.fa-times {
    color: $color-secondary;
    padding: 10px;
}