.page__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.title {
    color: $color-secondary;
    font-size: 30px;
    margin: 10px;
}

.showName {
    color: $color-secondary;
    font-size: 10px;
    @media all and (min-width: 768px) {
        font-size: 30px;
    }
}

.list-title {
    color: $color-secondary;
    @media all and (min-width: 768px) {
        font-size: 30px;
    }
}

.fav-title {
    color: $color-secondary;
    @media all and (min-width: 768px) {
        font-size: 30px;
    }
}

.input {
    font-family: $font-main;
}

.btn-search {
    background-color: $color-secondary;
    color: $color-bg;
    font-family: $font-main;
}

.container {
    display: flex;
    flex-direction: row;
    margin: 10px;
}

img {
    width: 30px;
    height: 30px;
    @media all and (min-width: 768px) {
        width: 200px;
        height: 200px;
    }
}

.favs {
    margin: 10px 40px 10px 40px;
}

.lists {
    margin: 10px;
}

.fav {
    margin: 10px;
}

.result {
    margin: 10px;
}

.favorite {
    background-color: $color-secondary;
}

.favorite .showName {
    color: white;
}