.page__header {
    display: flex;
    justify-content: space-evenly;
    height: 10em;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border: $color-secondary 2px solid;
    padding: 10px;
    height: 5em;
}

.brand {
    font-family: $font-brand;
    color: $color-secondary;
    font-size: 40px;
}